.hit {
  align-items: center;
  background-image: url("/src/assets/backgroundgrafiatoMobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-sm);
  padding: var(--spacing_inset-huge) var(--spacing_inset-sm);
  min-height: 38vh;
}

@media (min-width: 968px) {
  .hit {
    background-image: url("/src/assets/backgroundgrafiato.webp");
    min-height: 38vh;
  }
}


.hit__promo-text {
  color: var(--color-pure-white);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  text-shadow: 
    2px 2px 0px var(--color-pure-black),
    -2px 2px 0px var(--color-pure-black), 
    2px -2px 0px var(--color-pure-black), 
    -2px -2px 0px var(--color-pure-black);
  text-align: center;
}

.infomusic {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
  display: flex;
}

@media (min-width: 968px) {
  .infomusic {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .infomusic {
    width: 50%;
  }
}

.infomusic__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-xs);
  padding: var(--spacing_inset-lg);
  width: 100%;
}

@media (min-width: 768px) {
  .infomusic__container {
    flex-direction: row;
  }
}

.infomusic__image {
  border-radius: var(--radius-medium);
  max-width: 200px;
  width: 100%;
}

.infomusic__infocontainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-md);
  width: 100%;
}

.infomusic__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-quarck);
}

@media (min-width: 768px) {
  .infomusic__title {
    align-items: start;
  }
}

.infomusic__music {
  color: var(--color-pure-white);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.infomusic__band {
  color: var(--color-pure-white);
}

.infomusic__mediacontrols {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-sm);
}

@media (min-width: 768px) {
  .infomusic__mediacontrols {
    align-items: start;
    flex-direction: column-reverse;
    gap: var(--spacing_inset-xs);
  }
}

audio {
  border-radius: var(--radius-medium);
  width: 100%;
}

.infomusic__player {
  width: 100%;
}

.infomusic__streams {
  display: flex;
  gap: var(--spacing_inset-xs);
}

@media (min-width: 768px) {
  .infomusic__streams {
    gap: var(--spacing_inset-nano);
  }
}

.infomusic__icon {
  width: 24px;
  height: auto;
}
