.header {
  align-items: center;
  background-color: var(--color-master);
  display: flex;
  justify-content: center;
  padding: var(--spacing_inset-xs);

  a {
    color: var(--color-pure-white);
    cursor: pointer;
    text-decoration: underline;
  }
}