.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-4) var(--spacing-8);
  gap: var(--spacing-8);
}

.header__navigation {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menuItem {
  display: flex;
  align-items: center;
}

.header__medias {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-6);
}

.header__mediaLink {
  color: var(--color-master-light);
  transition: 0.2s;

  &&:hover {color: var(--color-pure-white);}
}

.header__ctaButton {
  background-color: var(--color-orange);
  border-radius: var(--radius-3);
  border: none;
  color: var(--color-pure-white);
  cursor: pointer;
  flex-shrink: 0;
  font-family: var(--font-family-principal);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing-2) var(--spacing-6);
  transition: 0.2s;

  &&:hover {background-color: var(--color-orange-darker);}
}
