.createAccount {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.createAccount__container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-xs);
  height: 500px;
  justify-content: center;
  padding: var(--spacing_inset-lg);
  text-align: center;
  width: 400px;

  input {
    width: 100%;
  }
}

.createAccount__actions {
  display: flex;
  gap: var(--spacing_inset-xs);
  width: 100%;
}

.createAccount__action {
  width: 100%;
}