.membersdesktop {
  align-items: center;
  background-image: url('/src/assets/background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
  padding: var(--spacing_inset-xs);
}

.membersdesktop__header {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: var(--spacing_inset-sm);
  position: relative;
}

.membersdesktop__members {
  color: white;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  position: absolute;
  top: 0;
  z-index: 1;
}

.membersdesktop__line {
  background-color: var(--color-orange);
  height: 15px;
  margin-top: 15px;
  position: absolute;
  width: 250px;
}

.membersdesktop__container {
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 1090px;
  position: absolute;
  text-align: center;
}

.membersdesktop__member {
  align-items: end;
  justify-content: space-around;
}

.membersdesktop__description {
  align-self: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--radius-medium);
  border: 3px solid var(--color-orange);
  color: var(--color-pure-white);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-nano);
  gap: var(--spacing_inset-xs);
  max-width: 25%;
  padding: var(--spacing_inset-xs);
  height: auto;
}

.membersdesktop__avatar {
  height: 800px;
  width: auto;
}

.membersdesktop__nav {
  align-self: end;
  display: flex;
  gap: var(--spacing_inset-md);
  justify-content: space-evenly;
  position: absolute;
  width: 90%;
  z-index: 2;
}

.membersdesktop__button {
  background-color: var(--color-master);
  border-radius: 9px;
  border: 2px solid var(--color-master-light);
  color: var(--color-pure-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: var(--spacing_inset-nano);
  width: 100%;
  align-items: center;
  opacity: 0.8;
  height: 60px;
}

.membersdesktop__nameimage {
  width: 70%;
  height: 100%;
}
