.membersmobile, .membersdesktop {
  display: none;
  padding: var(--spacing_inset-md);
  background-image: url('/src/assets/backmobile.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.membersmobile__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  position: relative;
  width: 100%;
}

.membersmobile__header {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing_inset-sm);
  position: relative;
  width: 100%;
}

.membersmobile__members {
  color: white;
  font-size: var(--font-size-md);
  position: absolute;
  top: 0;
  z-index: 1;
}

.membersmobile__line {
  background-color: var(--color-orange);
  height: 15px;
  margin-top: 10px;
  position: absolute;
  width: 200px;
}

.membersmobile__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: var(--spacing_inset-xs);
  position: relative;
}

.membersmobile__actions {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;

  img {
    cursor: pointer;
  }
}

.membersmobile__avatar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-md);
  justify-content: end;
}

.membersmobile__member {
  width: 330px;
  height: 500px;
}

@media( width >= 420px) {
  .membersmobile__member {
    width: 330px;
    height: 530px;
  }
}

@media( width >= 470px) {
  .membersmobile__member {
    width: 400px;
    height: 600px;
  }
}

.membersmobile__name {
  background-color: var(--color-pure-black);
  border-radius: 9px;
  border: 2px solid var(--color-orange);
  display: flex;
  padding: var(--spacing_inset-nano) var(--spacing_inset-xs);
  width: 50%;
  position: absolute;
  height: 8%;
}
